.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #b61200;
  width: 14px;
  height: 14px;
  animation: spin 2s linear infinite;
  padding: 8px;
  margin-left: 230px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea {
  overflow-y: auto; /* Enable scrollbar for overflow */
  padding-right: 30px; /* Add padding to accommodate the loader */
}
